<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="impl" class="com.proxyclass.ProxyClassImpl"/>
    <bean id="aspect" class="com.proxyclass.ProxyClassAspect" />
    <bean id="factory" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.proxyclass.ProxyInterface"/>
        <property name="target" ref="impl" />
        <property name="interceptorNames" value="aspect"/>
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean id="xmlImpl" class="com.aspectj_xml.XMLImpl"/>
    <bean id="xmlAspect" class="com.aspectj_xml.XMLAspect" />
    <aop:config>
        <aop:pointcut id="pointCut" expression="execution(* com.aspectj_xml.XMLInterface.*(..))"/>
        <aop:aspect ref="xmlAspect">
            <aop:before method="before" pointcut-ref="pointCut"  />
            <aop:after-returning method="afterReturning" pointcut-ref="pointCut" />
            <aop:around method="around" pointcut-ref="pointCut" />
            <aop:after-throwing method="expect" pointcut-ref="pointCut" throwing="e"/>
            <aop:after method="after" pointcut-ref="pointCut"/>
        </aop:aspect>
    </aop:config>

    <context:component-scan base-package="com.aspectj_annotation"/>
    <aop:aspectj-autoproxy/>
</beans>
